.fv-container {
  position: relative;
  min-height: calc(100vw * 743 / 1440);
  background-image: url(../image/fv-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fv-wrapper {
  width: min(calc(100vw * 1366 / 1440), 100%);
  margin: 0 auto;
}

.fv-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(6, 42, 82, 0.5);
}

.fv-title {
  font-size: calc(100vw * 135 / 1440);
  line-height: 155%;
  text-align: left;
  letter-spacing: -0.05em;
  text-shadow:
    calc(100vw * 4 / 1440)
    calc(100vw * 4 / 1440)
    calc(100vw * 2 / 1440)
    rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 1);
  font-family: "Zen Old Mincho", serif;
}

@media(min-width:769px){
  .fv-title-sp{
    display: none;
  }
}

@media (max-width: 768px) {
  .fv-title-pc {
    display: none;
  }

  .fv-container {
    position: relative;
    min-height: calc(100vw * 600 / 375);
    background-image: url(../image/fv-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .fv-wrapper {
    width: 100%;
  }

  .fv-title {
    font-size: calc(100vw * 63 / 375);
    line-height: 115%;
    text-align: left;
    letter-spacing: -0.05em;
    text-shadow:
      calc(100vw * 4 / 375)
      calc(100vw * 4 / 375)
      calc(100vw * 2 / 375)
      rgba(0, 0, 0, 0.25);
  }

  .fv-title span {
    font-size: calc(100vw * 48 / 375);
  }
}

.section-title {
  font-size: calc(100vw * 36 / 1440);
  font-weight: 700;
  line-height: 1.4;
  color: rgba(6, 42, 82, 1);
}

.section-title-dark {
  font-size: calc(100vw * 36 / 1440);
  font-weight: 700;
  line-height: 1.4;
  color: rgba(255, 255, 255, 1);
}

.section-title-center {
  font-size: calc(100vw * 36 / 1440);
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  color: rgba(6, 42, 82, 1);
}

.more-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(100vw * 10 / 1440);
  min-width: calc(100vw * 280 / 1440);
  height: calc(100vw * 50 / 1440);
  border: calc(100vw * 1 / 1440) solid rgba(40, 71, 107, 1);
  border-radius: calc(100vw * 22 / 1440);
  font-size: calc(100vw * 16 / 1440);
  color: rgba(40, 71, 107, 1);
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
}

.more-arrow {
  font-size: calc(100vw * 9 / 1440);
  line-height: 1;
}


@media(max-width:768px){
  .section-title {
    font-size: calc(100vw * 24 / 375);
  }

  .section-title-dark {
    font-size: calc(100vw * 24 / 375);
  }

  .section-title-center {
    font-size: calc(100vw * 24 / 375);
  }

  .more-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: calc(100vw * 10 / 375);
    min-width: calc(100vw * 280 / 375);
    height: calc(100vw * 50 / 375);
    border: calc(100vw * 1 / 375) solid rgba(40, 71, 107, 1);
    border-radius:0;
    font-size: calc(100vw * 16 / 375);
  }

  .more-arrow {
    font-size: calc(100vw * 9 / 375);
    line-height: 1;
  }
}

.strong-points-container {
  padding: calc(100vw * 93 / 1440) 0 calc(100vw * 125 / 1440);
  background-color: rgba(247, 249, 252, 1);
  background-image: url(../image/strong-point-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.strong-points-wrapper {
  width: min(calc(100vw * 1366 / 1440), 100%);
  margin: 0 auto;
  padding: 0 calc(100vw * 24 / 1440);
}

.strong-points-content {
  margin-left: auto;
  max-width: calc(100vw * 1320 / 1440);
}

.section-title {
  text-align: center;
  font-size: calc(100vw * 36 / 1440);
  font-weight: bold;
  letter-spacing: 0.1em;
}

.strong-point-cards {
  display: flex;
  align-items: stretch;
  gap: calc(100vw * 50 / 1440);
  margin: calc(100vw * 76 / 1440) 0 0;
}

.strong-point-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
}

.strong-point-image {
  height: calc(100vw * 288 / 1440);
  overflow: hidden;
}

.strong-point-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.strong-point-title {
  margin: calc(100vw * 24 / 1440) calc(100vw * 24 / 1440) 0;
  font-size: calc(100vw * 24 / 1440);
  line-height: 1.4;
  color: rgba(0, 0, 0, 1);
  font-family: 'Zen Antique', serif;
  font-weight: 400;
}

.strong-point-text {
  margin: calc(100vw * 24 / 1440);
  font-size: calc(100vw * 16 / 1440);
  line-height: 1.85;
  color: rgba(0, 0, 0, 1);
}

.strong-point-actions {
  display: flex;
  justify-content: flex-end;
  margin: calc(100vw * 52 / 1440) 0 0;
}

.strong-point-actions .more-button {
  border-radius: 0;
  box-shadow: 
    calc(100vw * 4 / 1440)
    calc(100vw * 4 / 1440)
    calc(100vw * 4 / 1440)
    0
    rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .strong-points-container {
    padding-top: calc(100vw * 50 / 375);
    padding-bottom: calc(100vw * 50 / 375);
  }

  .strong-points-wrapper {
    padding: 0;
    padding-left: calc(100vw * 24 / 375);
    padding-right: calc(100vw * 24 / 375);
    width: 100%;
  }

  .strong-point-cards {
    flex-wrap: wrap;
    gap: calc(100vw * 50 / 375);
    margin-top: calc(100vw * 24 / 375);
  }

  .strong-point-card {
    width: 100%;
    flex: auto;
  }

  .section-title {
    text-align: center;
    font-size: calc(100vw * 24 / 375);
  }

  .strong-point-image {
    height: auto;
  }

  .strong-point-image img {
    width: 100%;
    height: calc(100vw * 208 / 375);
  }

  .strong-point-title {
    font-size: calc(100vw * 20 / 375);
    margin-top: calc(100vw * 24 / 375);
    margin-left: calc(100vw * 24 / 375);
    margin-right: calc(100vw * 24 / 375);
  }

  .strong-point-text {
    font-size: calc(100vw * 15 / 375);
    margin-top: calc(100vw * 24 / 375);
    margin-left: calc(100vw * 24 / 375);
    margin-right: calc(100vw * 24 / 375);
    margin-bottom: calc(100vw * 24 / 375);
  }

  .strong-point-actions {
    margin-top: calc(100vw * 50 / 375);
    justify-content: center;
  }
}

.lawyer-intro-container {
  padding: calc(100vw * 53 / 1440) 0;
  background-color: rgba(255, 255, 255, 1);
}

.lawyer-intro-content {
  width: min(1366px, 100%);
  margin: 0 auto;
  padding: 0 calc(100vw * 24 / 1440);
  padding-bottom: calc(100vw * 53 / 1440);
}

.lawyer-intro-title {
  font-size: calc(100vw * 36 / 1440);
  font-weight: bold;
  color: rgba(40, 71, 107, 1);
  text-align: center;
}

.lawyer-intro-area {
  display: flex;
  align-items: flex-start;
  gap: calc(100vw * 56 / 1440);
  margin: calc(100vw * 40 / 1440) 0 0;
  justify-content: center;
}

.lawyer-intro-image {
  flex: 0 0 calc(100vw * 500 / 1440);
  overflow: hidden;
  max-width: calc(100vw * 387 / 1440);
}

.lawyer-intro-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.lawyer-intro-description {
  flex: 1;
}

.lawyer-intro-subtitle {
  font-size: calc(100vw * 40 / 1440);
  color: rgba(40, 71, 107, 1);
}

.lawyer-intro-text {
  margin: calc(100vw * 30 / 1440) 0 0;
  font-size: calc(100vw * 16 / 1440);
  color: rgba(40, 71, 107, 1);
}

.lawyer-intro-description .more-button {
  margin: calc(100vw * 36 / 1440) 0 0;
  border-radius: 0;
  box-shadow:
    calc(100vw * 4 / 1440)
    calc(100vw * 4 / 1440)
    calc(100vw * 4 / 1440)
    0 rgba(0, 0, 0, 0.25);
}

@media(max-width:768px){
  .lawyer-intro-container {
    padding: calc(100vw * 53 / 375) 0;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 1);
    padding-bottom: 0;
  }

  .lawyer-intro-content {
    width: min(1366px, 100%);
    margin: 0 auto;
    padding: 0 calc(100vw * 24 / 375);
    padding-bottom: calc(100vw * 53 / 375);
  }

  .lawyer-intro-title {
    font-size: calc(100vw * 24 / 375);
    font-weight: bold;
    color: rgba(40, 71, 107, 1);
    text-align: center;
  }

  .lawyer-intro-area {
    flex-wrap: wrap;
    gap: calc(100vw * 20 / 375);
    margin: calc(100vw * 40 / 375) 0 0;
    justify-content: center;
  }

  .lawyer-intro-image {
    flex: auto;
    overflow: hidden;
    max-width: 100%;
  }

  .lawyer-intro-image img {
    width: 100%;
    height: auto;
    height: calc(100vw * 30 / 297) 0 0;
    object-fit: cover;
  }

  .lawyer-intro-description {
    flex: 1;
  }

  .lawyer-intro-subtitle {
    font-size: calc(100vw * 25 / 375);
    color: rgba(40, 71, 107, 1);
  }

  .lawyer-intro-text {
    margin: calc(100vw * 30 / 375) 0 0;
    font-size: 16px;
    color: rgba(40, 71, 107, 1);
  }

  .lawyer-intro-description .more-button {
    margin: calc(100vw * 36 / 375) 0 0;
    border-radius: 0;
    box-shadow:
      calc(100vw * 4 / 375)
      calc(100vw * 4 / 375)
      calc(100vw * 4 / 375)
      0 rgba(0, 0, 0, 0.25);
  }
}

.testimonial-container {
  padding: calc(100vw * 39 / 1440) 0 calc(100vw * 94 / 1440);
  background-image: url(../image/testimonial-background.png);
}

.testimonial-wrapper {
  width: min(1366px, 100%);
  margin: 0 auto;
  padding: 0 calc(100vw * 24 / 1440);
}

.testimonial-content {
  width: 100%;
}

.testimonial-title {
  font-size: calc(100vw * 36 / 1440);
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.testimonial-subtitle {
  margin-top: calc(100vw * 16 / 1440);
  font-size: calc(100vw * 16 / 1440);
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.9);
}

.testimonial-cards {
  display: flex;
  flex-direction: column;
  gap: calc(100vw * 31 / 1440);
  margin: calc(100vw * 50 / 1440) 0 0;
}

.testimonial-card {
  display: flex;
  align-items: stretch;
  gap: calc(100vw * 2 / 1440);
  background-color: rgba(255, 255, 255, 1);
}

.testimonial-card:nth-child(even) {
  flex-direction: row-reverse;
}

.testimonial-card-image {
  flex: 0 0 calc(100vw * 441 / 1440);
  overflow: hidden;
}

.testimonial-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-card-description {
  flex: 1;
  padding:
    calc(100vw * 30 / 1440)
    calc(100vw * 40 / 1440)
    calc(100vw * 30 / 1440)
    0;
}

.testimonial-card:nth-child(even) .testimonial-card-description {
  padding:
    calc(100vw * 30 / 1440)
    0
    calc(100vw * 30 / 1440)
    calc(100vw * 40 / 1440);
}

.testimonial-card-text {
  font-size: calc(100vw * 24 / 1440);
  font-weight: bold;
  color: rgba(40, 71, 107, 1);
}

.testimonial-divider {
  margin: calc(100vw * 24 / 1440) 0;
  border: none;
  border-top: calc(100vw * 1 / 1440) solid rgba(0, 0, 0, 1);
}

.testimonial-card-author {
  font-size: calc(100vw * 16 / 1440);
  color: rgba(0, 0, 0, 1);
}

.testimonial-card-company {
  margin: calc(100vw * 28 / 1440) 0 0;
  font-size: calc(100vw * 16 / 1440);
  font-weight: bold;
  color: rgba(40, 71, 107, 1);
}

@media(min-width:769px){
  .testimonial-card-image-sp,
  .testimonial-card-text-sp,
  .testimonial-card-company-sp{
    display: none;
  }
}
@media(max-width:768px){
  .testimonial-card-image-pc,
  .testimonial-card-text-pc{
    display: none;
  }
  .testimonial-container {
    padding: calc(100vw * 40 / 375);
    background-image: url(../image/testimonial-background.png);
    padding-left: 0;
    padding-right: 0;
  }

  .testimonial-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .testimonial-content {
    width: 100%;
  }

  .testimonial-title {
    font-size: calc(100vw * 24 / 375);
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }

  .testimonial-subtitle {
    margin-top: calc(100vw * 16 / 375);
    font-size: calc(100vw * 16 / 375);
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.9);
  }

  .testimonial-cards {
    display: flex;
    flex-direction: column;
    gap: calc(100vw * 20 / 375);
    margin: calc(100vw * 50 / 375) 0 0;
  }

  .testimonial-card {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: calc(100vw * 2 / 375);
    background-color:transparent;
  }

  .testimonial-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .testimonial-card-image {
    flex: 0 0 calc(100vw * 358 / 375);
    overflow: hidden;
  }

  .testimonial-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .testimonial-card-description {
    flex: 1;
    padding:
      calc(100vw * 20 / 375)
      calc(100vw * 20 / 375);
    background: #ffffff;
  }

  .testimonial-card:nth-child(even) .testimonial-card-description {
    padding:
      calc(100vw * 18 / 375);
  }

  .testimonial-card-text {
    font-size: calc(100vw * 20 / 375);
    font-weight: bold;
    color: rgba(40, 71, 107, 1);
  }

  .testimonial-divider {
    margin: calc(100vw * 24 / 375) 0;
    border: none;
    border-top: calc(100vw * 1 / 375) solid rgba(0, 0, 0, 1);
  }

  .testimonial-card-author {
    font-size: calc(100vw * 16 / 375);
    color: rgba(0, 0, 0, 1);
  }

  .testimonial-card-company {
    margin: calc(100vw * 20 / 375) 0 0;
    font-size: calc(100vw * 16 / 375);
    font-weight: bold;
    color: rgba(40, 71, 107, 1);
  }
}

.cases-container {
  padding: calc(100vw * 80 / 1440) 0;
  background-color: rgba(240, 242, 250, 1);
}

.cases-wrapper {
  width: min(1366px, 100%);
  margin: 0 auto;
  padding: 0 calc(100vw * 24 / 1440);
}

.cases-content {
  width: 100%;
}

.cases-title {
  font-size: calc(100vw * 36 / 1440);
  font-weight: bold;
  text-align: center;
  color: rgba(40, 71, 107, 1);
}

.cases-slider {
  display: flex;
  align-items: center;
  gap: calc(100vw * 20 / 1440);
  margin: calc(100vw * 50 / 1440) 0 0;
}

.cases-slider-arrow {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw * 40 / 1440);
  height: calc(100vw * 40 / 1440);
  border: none;
  border-radius: 50%;
  font-size: calc(100vw * 16 / 1440);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(40, 71, 107, 1);
  cursor: pointer;
}

.cases-slider-arrow .more-button {
  font-size: calc(100vw * 10 / 1440);
  line-height: 1;
  color: rgba(255, 255, 255, 1);
}

.cases-slider-card {
  flex: 1;
  display: flex;
  border: calc(100vw * 1 / 1440) solid rgba(40, 71, 107, 1);
  padding: calc(100vw * 24 / 1440);
}

.cases-slider-card-image {
  flex: 0 0 calc(100vw * 428 / 1440);
  overflow: hidden;
  max-height: calc(100vw * 324 / 1440);
  margin: calc(100vw * 55 / 1440) 0;
}

.cases-slider-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cases-slider-card-description {
  flex: 1;
  padding: calc(100vw * 24 / 1440);
}

.cases-slider-card-tags {
  display: flex;
  gap: calc(100vw * 10 / 1440);
}

.cases-slider-card-tag {
  display: inline-block;
  padding: calc(100vw * 4 / 1440) calc(100vw * 12 / 1440);
  font-size: calc(100vw * 14 / 1440);
  background-color: rgba(40, 71, 107, 1);
  color: rgba(255, 255, 255, 1);
}

.cases-slider-card-subtitle {
  margin: calc(100vw * 24 / 1440) 0 0;
  font-size: calc(100vw * 24 / 1440);
  color: rgba(0, 0, 0, 1);
}

.cases-slider-divider {
  margin: calc(100vw * 24 / 1440) 0;
  border: none;
  border: calc(100vw * 1 / 1440) solid rgba(40, 71, 107, 1);
}

.cases-slider-card-text {
  margin: calc(100vw * 20 / 1440) 0 0;
  font-size: calc(100vw * 14 / 1440);
  line-height: 1.8;
  color: rgba(0, 0, 0, 1);
}

.cases-note {
  margin: calc(100vw * 26 / 1440) 0 0;
  font-size: calc(100vw * 15 / 1440);
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.cases-actions {
  display: flex;
  justify-content: center;
  margin: calc(100vw * 30 / 1440) 0 0;
}
@media (max-width: 768px) {
  .cases-container {
    padding: calc(100vw * 40 / 375) 0;
  }

  .cases-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 calc(100vw * 24 / 375);
  }

  .cases-content {
    width: 100%;
  }

  .cases-title {
    font-size: calc(100vw * 24 / 375);
  }

  .cases-slider {
    gap: calc(100vw * 20 / 375);
    margin: calc(100vw * 40 / 375) 0 0;
    gap: 0;
  }

  .cases-slider-arrow {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw * 40 / 375);
    height: calc(100vw * 40 / 375);
    border: none;
    border-radius: 50%;
    font-size: calc(100vw * 16 / 375);
    color: rgba(255, 255, 255, 1);
    background-color: rgba(40, 71, 107, 1);
    cursor: pointer;
  }

  .cases-slider-arrow .more-button {
    font-size: calc(100vw * 10 / 375);
    line-height: 1;
    color: rgba(255, 255, 255, 1);
  }

  .cases-slider-card {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    border: calc(100vw * 1 / 375) solid rgba(40, 71, 107, 1);
    padding: 0;
  }

  .cases-slider-card-image {
    flex: auto;
    max-height: calc(100vw * 324 / 375);
    margin: calc(100vw * 30 / 375) 0;
    margin-top: 0;
  }

  .cases-slider-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cases-slider-card-description {
    flex: 1;
    padding: calc(100vw * 10 / 375);
  }

  .cases-slider-card-tags {
    display: flex;
    gap: calc(100vw * 10 / 375);
  }

  .cases-slider-card-tag {
    display: inline-block;
    padding: calc(100vw * 4 / 375) calc(100vw * 12 / 375);
    font-size: calc(100vw * 14 / 375);
    background-color: rgba(40, 71, 107, 1);
    color: rgba(255, 255, 255, 1);
  }

  .cases-slider-card-subtitle {
    margin: calc(100vw * 20 / 375) 0 0;
    font-size: calc(100vw * 20 / 375);
    color: rgba(0, 0, 0, 1);
  }

  .cases-slider-divider {
    margin: calc(100vw * 24 / 375) 0;
    border: none;
    border: calc(100vw * 1 / 375) solid rgba(40, 71, 107, 1);
  }

  .cases-slider-card-text {
    margin: calc(100vw * 20 / 375) 0 0;
    font-size: calc(100vw * 14 / 375);
    color: rgba(0, 0, 0, 1);
  }

  .cases-note {
    margin: calc(100vw * 26 / 375) 0 0;
    font-size: calc(100vw * 8 / 375);
    color: rgba(0, 0, 0, 1);
  }

  .cases-actions {
    display: flex;
    justify-content: center;
    margin: calc(100vw * 30 / 375) 0 0;
  }

  .cases-slider {
    flex-direction: column;
    align-items: stretch;
    gap: calc(100vw * 10 / 375);
  }

  .cases-slider-card {
    width: 100%;
  }
  .cases-slider > .cases-slider-arrow {
    display: none;
  }

  .cases-slider-card {
    flex-direction: column;
  }

  .cases-slider-nav {
    display: flex;
    justify-content: space-between;
    gap: calc(100vw * 12 / 375);
    padding: calc(100vw * 12 / 375) calc(100vw * 12 / 375);
    margin-top: -75px;
  }

  .cases-slider-nav .cases-slider-arrow {
    width: calc(100vw * 50 / 375);
    height: calc(100vw * 50 / 375);
  }
}
.more-button-dark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(100vw * 10 / 1440);
  min-width: calc(100vw * 280 / 1440);
  height: calc(100vw * 50 / 1440);
  font-size: calc(100vw * 16 / 1440);
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(40, 71, 107, 1);
  box-shadow: 
    calc(100vw * 4 / 1440)
    calc(100vw * 4 / 1440)
    calc(100vw * 4 / 1440)
    0
    rgba(0, 0, 0, 0.25);
}

.service-container {
  background-color: rgba(255, 255, 255, 1);
  padding: 0 0 calc(100vw * 60 / 1440);
}

.service-wrapper {
  padding: calc(100vw * 60 / 1440) 0 0;
  background-image: url(../image/service-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.service-content {
  width: min(calc(100vw * 1366 / 1440), 100%);
  margin: 0 auto;
  padding: 0 calc(100vw * 24 / 1440);
}

.service-cards {
  display: flex;
  gap: calc(100vw * 20 / 1440);
}

.service-card {
  flex: 1;
  position: relative;
  display: block;
  overflow: hidden;
  border: calc(100vw * 1 / 1440) solid rgba(215, 215, 215, 1);
  box-shadow:
    calc(100vw * 5 / 1440)
    calc(100vw * 5 / 1440)
    calc(100vw * 4 / 1440)
    0
    rgba(0, 0, 0, 0.25);
}

.service-card-image {
  width: 100%;
  overflow: hidden;
}

.service-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(6, 42, 82, 0.5);
}

.service-card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: calc(100vw * 32 / 1440);
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
}


.salon-container {
  position: relative;
  background-image: url(../image/salon-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.salon-wrapper {
  width: 100%;
}

.salon-content {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 420px;
  background-color: rgba(40, 71, 107, 0.7);
  padding: 47px 0 47px 116px;
}

.salon-title {
  flex: 1;
  margin: 0;
  padding-right: 80px;
  font-size: 36px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  line-height: 1.6;
}

.salon-box {
  flex: 0 0 auto;
  width: 600px;
  padding: 60px 70px;
  background-color: rgba(255, 255, 255, 1);
}

.salon-subtitle {
  margin: 0 0 30px 0;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  line-height: 1.6;
  color: rgba(0, 0, 0, 1);
}

.salon-text {
  margin: 0 0 14px 0;
  font-size: 15px;
  line-height: 1.8;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.salon-text:last-of-type {
  margin-bottom: 0;
}

.salon-actions {
  display: flex;
  justify-content: flex-end;
  margin: 45px 0 0;
}

.salon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 15px 45px;
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(40, 71, 107, 1);
  text-decoration: none;
  border: none;
}

.salon-button-arrow {
  font-size: 12px;
}

.news-wrapper{
  padding-top: 60px;
  padding-bottom: 60px;
}

.news-tag-area{
  display: flex;
  align-items: center;
  gap: 40px;
}

h2.news-title{
  font-size: 36px;
  font-weight: 700;
  color: #28476B;
  padding-bottom: 40px;
  text-align: center;
}

.news-content{
  max-width: 1202px;
  width: 100%;
  margin: 0 auto;
}

.news-area{
  border-bottom:1px solid rgb(40, 71, 107, 0.35);
  margin-bottom: 10px;
}

.news-text-area{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.news-text h3{
  font-size: 20px;
  font-weight: 700;
}

.news-tag{
  background-color: #28476B;
  padding-left: 17px;
  padding-right: 17px;
  height: 33px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-date p{
  font-size: 16px;
}

.news-actions {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0 0;
}

.news-actions .more-button {
  border-radius: 0;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.books-container{
  position: relative;
  background-image: url(../image/strong-point-02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.books-container::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.books-container > *{
  position: relative;
  z-index: 2;
}

.books-wrapper{
  padding-top: 60px;
  padding-bottom: 60px;
}

h2.books-title{
  font-size: 36px;
  font-weight: 700;
  color: #28476B;
  padding-bottom: 40px;
  text-align: center;
}

.books-flex-area{
  display: flex;
  justify-content: center;
}

.books-flex{
  padding: 24px;
}

.books-flex-on{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 24px;
}

.books-flex img{
  width: 100%;
  max-width: 253px;
  margin: 0 auto;
}

.books-flex p{
  font-size: 24px;
  font-weight: 700;
  padding-top: 24px;
}

.contact-container{
  position: relative;
  background-image: url(../image/service-03.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-wrapper{
  padding-top: 80px;
  padding-bottom: 60px;
}

.contact-content{
  text-align: center;
}

.contact-container::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(40, 72, 108, 0.8);
  z-index: 1;
}

.contact-container > *{
  position: relative;
  z-index: 2;
}

h2.contact-title{
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.contact-content p{
  font-size: 20px;
  color: #ffffff;
  padding-top: 56px;
  padding-bottom: 56px;
}

a.contact-button{
  width: 300px;
  background-color: #ffffff;
  color: #28476B;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  height: 70px;
  font-size: 16px;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 0 auto;
}

.footer-wrapper{
  padding-top: 24px;
}

.footer-content{
  text-align: center;
}

.footer-logo img{
  width: 247px;
  margin: 0 auto;
}

.footer-page-link-list ul{
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  list-style: none;
}

.footer-sns-link-list ul{
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-top: 12px;
  padding-bottom: 12px;
  list-style: none;
}

.footer-sns-link-list ul li a img{
  width: 29px;
}

.footer-sns-link-list ul li:first-child a img{
  width: 41px;
}

.footer-copyright{
  text-align: center;
  padding-top: 56px;
  padding-bottom: 16px;
}

.footer-copyright p{
  font-size: 10px;
}